.rt {
  background-color: var(--LightGrayishMagenta);
  margin: auto;
  margin-bottom: 1rem;
  width: 350px;
  text-align: center;
  color: var(--VeryDarkMagenta);
  font-weight: var(--normalFont);
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  font-size: 12px;
}
.starBox {
  margin-bottom: 0.5rem;
}
